@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import 'tailwindcss';

@layer base {
  h1,
  h2,
  h3 {
    text-align: left;
  }
  h1 em {
    font-family: 'Pinyon Script', cursive;
    font-style: normal;
  }
}

@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: 'infinity';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: #f7f4ec;
  --color-base-200: #f2eddf;
  --color-base-300: #eae3ce;
  --color-base-content: #292b2a;
  --color-primary: #efeadb;
  --color-primary-content: #292b2a;
  --color-secondary: #b92028;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #00bfa6;
  --color-accent-content: #ffffff;
  --color-neutral: #1c1c1c;
  --color-neutral-content: #ffffff;
  --color-info: #3abff8;
  --color-info-content: #ffffff;
  --color-success: #36d399;
  --color-success-content: #ffffff;
  --color-warning: #fbbd23;
  --color-warning-content: #ffffff;
  --color-error: #f87272;
  --color-error-content: #ffffff;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}

html,
body {
  background-color: var(--color-primary);
  background-image: url('/bg.jpg');
  background-repeat: repeat;
  text-align: justify;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  scroll-snap-type: y proximity;
  scroll-snap-align: start;
}
